body {
    background-image: url("bodybackground.jpg");
}

#icon {
    margin-top: 70px;
}

#player1 {
    margin-top: 30px;
}

#player2 {
    margin-top: 20px;
    margin-bottom: 30px;
}

#output {
    background: orange;
    border-radius: 10px;
    border-top: 10px solid #aa4465;
    padding: 10px;
    float: none;
    text-align: left;
}

#player1 , #player2
{
	display: inline-block;
	margin-left: 20px;
}